@import "tailwindcss";

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/assets/fonts/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/assets/fonts/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/assets/fonts/HarmonyOS_Sans_SC_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/assets/fonts/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/assets/fonts/HarmonyOS_Sans_SC_Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  @apply scroll-smooth;
  font-feature-settings: "rlig" 1, "calt" 1;
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
  background-color: rgb(5, 6, 8);
  font-family: 'HarmonyOS Sans SC', sans-serif;
}
